<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_DIR" value="${finders.home}/logs" />
    <property name="LOG_FORMAT" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n" />

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                ${LOG_FORMAT}
            </pattern>
        </encoder>
    </appender>

    <appender name="accessLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/access.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/access.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>7</maxHistory>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <pattern>
                ${LOG_FORMAT}
            </pattern>
        </encoder>
    </appender>

    <appender name="accessAsync" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>1024</queueSize>
        <neverBlock>true</neverBlock>
        <appender-ref ref="accessLog" />
    </appender>

    <appender name="coreLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/core.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/core.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>7</maxHistory>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <pattern>
                ${LOG_FORMAT}
            </pattern>
        </encoder>
    </appender>

    <appender name="coreAsync" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>1024</queueSize>
        <neverBlock>true</neverBlock>
        <appender-ref ref="coreLog" />
    </appender>

    <appender name="eventLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/event.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/event.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>7</maxHistory>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <pattern>
                ${LOG_FORMAT}
            </pattern>
        </encoder>
    </appender>

    <appender name="eventAsync" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>1024</queueSize>
        <neverBlock>true</neverBlock>
        <appender-ref ref="eventLog" />
    </appender>

    <appender name="httpClientLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/http_client.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/http_client.log.%d{yyyy-MM-dd}</fileNamePattern>
            <maxHistory>7</maxHistory>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <pattern>
                ${LOG_FORMAT}
            </pattern>
        </encoder>
    </appender>

    <appender name="httpClientAsync" class="ch.qos.logback.classic.AsyncAppender">
        <discardingThreshold>0</discardingThreshold>
        <queueSize>1024</queueSize>
        <neverBlock>true</neverBlock>
        <appender-ref ref="httpClientLog" />
    </appender>

    <logger name="io.vertx.core.impl.BlockedThreadChecker" level="OFF" />

    <logger name="io.vertx.ext.web.handler.impl.LoggerHandlerImpl" level="INFO">
        <appender-ref ref="accessAsync" />
    </logger>

    <logger name="io.github.dxx.finders.core" level="DEBUG">
        <appender-ref ref="coreAsync" />
    </logger>

    <logger name="io.github.dxx.finders.event" level="DEBUG">
        <appender-ref ref="eventAsync" />
    </logger>

    <logger name="io.github.dxx.finders.http.client" level="DEBUG">
        <appender-ref ref="httpClientAsync" />
    </logger>

    <root level="DEBUG">
        <appender-ref ref="stdout" />
    </root>

</configuration>
