.app {
  display: flex;
  height: 100vh;
}

.header {
  position: fixed;
  left: 0;
  color: white !important;
  width: 100vw;
  padding: 0 50px 0 30px !important;
}

.header .logo {
  font-size: 26px;
}

.header .github {
  float: right;
  color: white;
  font-size: 26px;
}

.sider {
  position: fixed;
  top: 64px;
  left: 0;
  height: 100vh;
  background: #fff;
}

.main-layout {
  padding: 20px;
  margin-top: 64px;
  margin-left: 200px;
  overflow: auto;
}

.main-content {
  padding: 24px;
  margin: 0;
  background: #fff;
}
